a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.font_1 {
  font-family: "shrikhand";
}

.font_2 {
  font-family: "roboto";
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
}
header .header_txt {
  display: flex;
  justify-content: space-between;
}
header .header_txt .arrow {
  width: 20%;
  font-size: 25px;
}
header .header_txt .arrow i {
  color: #515151;
}
header .header_txt .h1 {
  width: 70%;
}
header .header_img img {
  width: 100%;
}

main {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  margin-top: -50px;
  position: relative;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .main_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main_title h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 60%;
  font-weight: 200;
}
main .main_title .heart {
  position: absolute;
  width: 10%;
  font-size: 22px;
  right: 15px;
  bottom: 25px;
  width: 30%;
  position: initial;
}
main .main_title .heart i {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
main .main_title .heart i:hover {
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  font-size: 23px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
  cursor: pointer;
}
main section {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section .section_title {
  font-size: 17px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
main section .border {
  background-color: #99e2d0;
  width: 40px;
  height: 4px;
  margin-left: 5%;
  margin-bottom: 20px;
}
main section .cards_box {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
main section .cards_box .card_menu {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  align-self: center;
  box-shadow: 4px 4px 8px #eaeaea;
  padding: 20px;
}
main section .cards_box .card_menu .card_txt {
  width: 80%;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main section .cards_box .card_menu .card_txt .txt_bold {
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 1em;
}
main section .cards_box .card_menu .card_price {
  align-self: flex-end;
  font-weight: 600;
  font-size: 17px;
}
main .button_box .button {
  height: 50px;
  color: white;
  border-radius: 50px;
  padding: 15px;
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  width: 200px;
}
main .button_box .button:hover {
  box-shadow: 4px 4px 8px #ff79da;
  filter: brightness(1.1);
  text-shadow: 2px 2px 4px white;
  cursor: pointer;
}

footer {
  height: 220px;
  background-color: #353535;
}
footer h3 {
  margin-left: 20px;
  margin-block-start: 0em;
  padding-top: 20px;
  color: #f6f6f6;
  font-weight: 100;
}
footer .footer_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin-left: 20px;
  height: 120px;
}
footer .footer_txt {
  display: flex;
  height: 10px;
  color: #f6f6f6;
}
footer .footer_txt:hover {
  color: #99e2d0;
}
footer .footer_txt i {
  margin-right: 10px;
  width: 20px;
}

@media screen and (min-width: 992px) {
  footer h3 {
    font-size: 22px;
    margin-block-start: 0em;
    padding-left: 30px;
    text-align: center;
  }
  footer .footer_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    height: 120px;
  }
  footer .footer_txt {
    display: flex;
    height: 10px;
    color: #f6f6f6;
  }
  footer .footer_txt:hover {
    color: #99e2d0;
  }
  footer .footer_txt i {
    margin-right: 10px;
    width: 20px;
  }
}

/*# sourceMappingURL=cartes.css.map */
