* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.font_1 {
  font-family: "shrikhand";
}
.font_2 {
  font-family: "roboto";
}
h2 {
  margin-left: 20px;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$background_grey: #eaeaea;
$background_grey_clear: #f6f6f6;
$box_shadow: 3px 3px 10px $background_grey;
$primary: #9356dc;
$secondary: #ff79da;
$tertiaire: #99e2d0;

.title {
  text-align: center;
}
.city {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: rgb(61, 61, 61);
  background-color: $background_grey;
  font-size: 18px;
  height: 50px;
  i {
    margin-right: 12px;
  }
}
.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  background-color: $background_grey_clear;
  // QUESTION PAUL - POLICE GRAS
  h2 {
    text-align: center;
    width: 80%;
  }
  p {
    text-align: center;
    width: 90%;
    height: 50px;
  }
  .button_explorer {
    height: 50px;
    color: white;
    border-radius: 50px;
    padding: 15px;
    background-image: linear-gradient(to top left, $primary, $secondary);
  }
}
// MAIN
main {
  height: 1700px;
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;

  .nav_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    font-weight: 600;
  }
  a {
    width: 85%;
  }
}
.nav_card {
  position: relative;
  display: flex;
  height: 70px;
  border-radius: 20px;
  background-color: $background_grey_clear;
  box-shadow: $box_shadow;
  box-sizing: border-box;
  &:hover {
    background-color: lighten($color: $primary, $amount: 35);
    cursor: pointer;
  }
  // QUESTION PAUL : ICONE HOVER
  a {
    width: 100%;
  }
}

.number {
  border-radius: 100px;
  position: absolute;
  left: -5%;
  bottom: 20px;
  width: 25px;
  height: 25px;
  font-size: 12px;
  color: white;
  background-color: $primary;
}
.nav_icon {
  font-size: 20px;
  color: darken($color: $background_grey, $amount: 40);
  width: 25%;
  &:hover {
    color: $primary;
  }
}
// RESTAURANTS
.restaurants {
  background-color: $background_grey_clear;
  height: 1200px;
  padding-top: 50px;
  margin-top: 50px;
}
.restaurant_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1100px;
}
.restaurant_card {
  height: 250px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 10px #c7c7c7;
  transition: 300ms;

  &:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px $primary;
  }
  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    // QUESTION PAUL : CENTRER IMAGE
  }
}
.card_new {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 70px;
  height: 25px;
  background-color: $tertiaire;
  color: darken($color: $tertiaire, $amount: 40);
  border-radius: 2px;
  font-size: 13px;
}
.card_body {
  display: flex;
  justify-content: space-between;
  height: 70px;

  .card_txt_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 80%;
    margin-left: 10px;
  }
  .card_txt_1 {
    font-weight: 700;
  }

  .card_like {
    position: absolute;
    width: 10%;
    font-size: 22px;
    right: 15px;
    bottom: 25px;
    i {
      color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      &:hover {
        -webkit-text-stroke-width: 0px;
        color: $primary;
        // QUESTION PAUL : DEGRADE
      }
    }
  }
}
footer {
  height: 220px;
  background-color: #353535;

  h3 {
    margin-left: 20px;
    padding-top: 20px;
    color: $background_grey_clear;
    font-weight: 100;
  }
  .footer_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin-left: 20px;
    height: 120px;
  }

  .footer_txt {
    display: flex;
    height: 10px;
    color: $background_grey_clear;

    &:hover {
      color: $tertiaire;
    }

    i {
      margin-right: 10px;
      width: 20px;
    }
    // QUESTION PAUL : CONTRIBUTION GITHUB
  }
}
@media screen all and (min-width: 992px) {
}
