@mixin heart {
  position: absolute;
  font-size: 23px;
  right: 15px;
  bottom: 25px;

  i {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    &:hover {
      background: linear-gradient(to bottom left, $primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: transparent;
      cursor: pointer;
      animation: heart 600ms;
      transition: 600ms;
    }
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin button {
  height: 50px;
  color: white;
  border-radius: 50px;
  padding: 15px;
  background-image: linear-gradient(to top left, $primary, $secondary);
  -webkit-text-stroke-color: black;
}

@mixin button_hover {
  box-shadow: 4px 4px 8px $secondary;
  filter: brightness(1.1);
  text-shadow: 2px 2px 4px lighten($color: $secondary, $amount: 10);
  cursor: pointer;
}
