h2 {
  margin-left: 20px;
}

.title {
  text-align: center;
}
.city {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: rgb(61, 61, 61);
  background-color: $background_grey;
  font-size: 18px;
  height: 50px;
  input {
    border: none;
    background-color: $background_grey;
    width: 130px;
    &::placeholder {
      color: black;
      text-align: center;
    }
  }
  i {
    margin-right: 12px;
  }
}
.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  background-color: $background_grey_clear;
  h2 {
    text-align: center;
    width: 80%;
  }
  p {
    text-align: center;
    width: 90%;
    height: 50px;
    color: darken($color: $background_grey, $amount: 40);
  }
  .button_explorer {
    @include button;
    &:hover {
      @include button_hover;
    }
  }
}
// MAIN
.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 30px;
  background-color: white;

  .nav_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    font-weight: 600;
  }
  a {
    width: 85%;
  }
}
.nav_card {
  position: relative;
  display: flex;
  height: 70px;
  border-radius: 20px;
  background-color: $background_grey_clear;
  box-shadow: $box_shadow;
  box-sizing: border-box;
  transition: 300ms;

  &:hover {
    background-color: lighten($color: $primary, $amount: 35);
    cursor: pointer;
    & > .nav_icon {
      color: $primary;
    }
  }
  a {
    width: 100%;
  }
  .nav_icon {
    font-size: 20px;
    color: darken($color: $background_grey, $amount: 40);
    width: 25%;
  }
}

.number {
  border-radius: 100px;
  position: absolute;
  left: -10px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  font-size: 12px;
  color: white;
  background-color: $primary;
}
// RESTAURANTS
.restaurants {
  background-color: $background_grey_clear;
  padding: 50px 20px;
  // HAUTEUR DU BLOCK
}
.restaurant_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
.restaurant_card {
  height: 250px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 10px #c7c7c7;
  transition: transform 300ms;

  a {
    width: 100%;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px $primary;
  }
  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
  }
}
.card_new {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 70px;
  height: 25px;
  background-color: $tertiaire;
  color: darken($color: $tertiaire, $amount: 40);
  border-radius: 2px;
  font-size: 13px;
}
.card_body {
  display: flex;
  justify-content: space-between;
  height: 70px;

  .card_txt_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 80%;
    margin-left: 10px;
  }
  .card_txt_1 {
    font-weight: 700;
  }

  .card_like {
    @include heart;
  }
}
