@media screen and (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .main_carte {
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    .main_title {
      //   justify-content: space-around;
      h2 {
        width: 25%;
      }
    }
    .section_carte {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .card_menu {
        width: 280px;
      }
    }
  }
}
@media screen and (max-width: 210px) {
  header {
    h1 {
      font-size: 15px;
    }
    .arrow i {
      font-size: 10px;
    }
  }
}
