@import "../Utils/variables";
@import "../Utils/mixins";
main {
  background-color: $background_grey_clear;
  border-radius: 30px 30px 0px 0px;
  margin-top: -50px;
  position: relative;
  padding-bottom: 50px;
  @include column;
  .main_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-top: 30px;
      margin-bottom: 20px;
      margin-left: 20px;
      width: 60%;
      font-weight: 200;
    }
    .heart {
      @include heart;
      width: 30%;
      position: initial;
    }
  }

  section {
    padding: 5px;
    @include column;
    .section_title {
      font-size: 17px;
      height: 30px;
      display: flex;
      align-items: center;
      margin-left: 5%;
    }
    .border {
      background-color: $tertiaire;
      width: 40px;
      height: 4px;
      margin-left: 5%;
      margin-bottom: 20px;
    }
    .cards_box {
      height: 300px;
      @include column;
      gap: 20px;
      margin-bottom: 30px;
      .card_menu {
        display: flex;
        justify-content: space-between;
        background-color: white;
        overflow: hidden;
        border-radius: 20px;
        width: 90%;
        align-self: center;
        box-shadow: 4px 4px 8px $background_grey;
        opacity: 0;
        transform: translateY(-30px);
        // transition: 600ms;
        &:hover {
          cursor: pointer;
          .card_hover {
            display: block;
            animation: appear 600ms;
            transition: 600ms;
          }
          .rotate-center {
            -webkit-animation: rotate-center 0.6s ease-in-out 300ms reverse both;
            animation: rotate-center 0.6s ease-in-out 200ms reverse both;
          }
        }

        .card_txt {
          width: 70%;
          margin: 20px 0px 20px 20px;
          position: relative;
          transition: 600ms;

          .txt_bold {
            padding-bottom: 5px;
            font-weight: 600;
            font-size: 1em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .txt_slim {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .card_price {
          align-self: flex-end;
          font-weight: 600;
          font-size: 17px;
          margin: 20px;
          transition: 600ms;
        }
        .card_hover {
          // display: none;
          margin-right: -3rem;
          width: 20px;
          height: 100%;
          color: white;
          font-size: 25px;
          background-color: $tertiaire;
          transition: 300ms;
        }
      }
      > .card_menu:nth-child(1) {
        animation: apparition 0.8s 0.2s ease-out forwards;
      }
      > .card_menu:nth-child(2) {
        animation: apparition 0.8s 0.4s ease-out forwards;
      }
      > .card_menu:nth-child(3) {
        animation: apparition 0.8s 0.6s ease-out forwards;
      }
    }
  }

  .button_box {
    .button {
      @include button;
      width: 200px;
      &:hover {
        @include button_hover;
      }
    }
  }
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    transform: translateX(100%) scaleX(0%);
  }
  100% {
    transform: translateX(0%) scaleX(100%);
  }
}
