@import "../Utils/variables";
header {
  display: flex;
  justify-content: space-between;
  .arrow {
    width: 20%;
    font-size: 25px;
    i {
      color: darken($color: $background_grey, $amount: 60);
    }
  }
  .h1 {
    width: 70%;
  }
}
