@media screen and (min-width: 992px) {
  header {
    flex-direction: column;
    align-items: flex-start;

    h1 {
      margin-left: 50px;
    }
    .arrow {
      margin-left: 50px;
    }
  }
  .header_img {
    object-fit: unset;
    width: 100%;
  }
}
